.alert{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    margin:10px;
    padding:10px;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-width:2px;
    border-style:solid;
    justify-items: center;
}


.alert > .icon
{
    border-radius:50%;
    padding:5px;
}




.alert-serious{

    background-color: var(--sitestrap-color-grey);
    border-color: var(--sitestrap-color-dark-grey);
    color:var(--sitestrap-color-red);
}

.alert-serious > .icon{
    color: var(--sitestrap-color-grey);
    background-color:var(--sitestrap-color-red);
}

.alert-error{

    background-color: var(--sitestrap-color-red);
    border-color: var(--sitestrap-color-dark-red);
    color:#ffffff;
}

.alert-error > .icon{

    color: var(--sitestrap-color-red);
    background-color:#ffffff;
}

.alert-warning{

    background-color: var(--sitestrap-color-yellow);
    border-color: var(--sitestrap-color-dark-yellow);
    color:var(--sitestrap-color-grey);
}

.alert-warning > .icon{

    color: var(--sitestrap-color-yellow);
    background-color:var(--sitestrap-color-grey);
}

.alert-success{

    background-color: var(--sitestrap-color-green);
    border-color: var(--sitestrap-color-dark-green);
    color:#ffffff;
}

.alert-success > .icon{

    color: var(--sitestrap-color-green);
    background-color:#ffffff;
}

.alert-reminder{
    background-color: var(--sitestrap-color-blue);
    border-color: var(--sitestrap-color-dark-blue);
    color:#ffffff;
}

.alert-reminder > .icon{
    color: var(--sitestrap-color-blue);
    background-color:#ffffff;
}

.alert-gloomy{
    background-color: var(--sitestrap-color-grey);
    border-color: var(--sitestrap-color-dark-grey);
    color:#ffffff;
}

.alert-gloomy > .icon{
    color: var(--sitestrap-color-grey);
    background-color:#ffffff;
}

.alert-pretty{
    background-color: var(--sitestrap-color-pink);
    border-color: var(--sitestrap-color-dark-pink);
    color:#ffffff;
}

.alert-pretty > .icon{
    color: var(--sitestrap-color-pink);
    background-color:#ffffff;
}





.alert-icon-32{
    display: flex;
    flex-direction: row;
    min-height:32px;

}

.alert-icon-32 > div:first-of-type{
    height: 32px;
    width: 32px;

    text-align:center;
    vertical-align:middle;
    align-items: center;
    justify-items: center;
    line-height:32px;
    margin-right:10px;
}

.alert-icon-32 > div:nth-of-type(2){

    vertical-align:middle;
    align-items: center;
    justify-items: center;
    display:inline-flex;
}

.alert-icon-64{
    display: flex;
    flex-direction: row;
    min-height:64px;

}

.alert-icon-64 > div:first-of-type{
    height: 64px;
    width: 64px;
    text-align:center;
    vertical-align:middle;
    align-items: center;
    justify-items: center;
    line-height:64px;
    margin-right:10px;
}

.alert-icon-64 > div:nth-of-type(2){

    vertical-align:middle;
    align-items: center;
    justify-items: center;
    display:inline-flex;
}





