
/*
 * Background
 */

.bg-white{ background-color: #FFFFFF; }

.bg-light-red{ background-color: var(--sitestrap-color-light-red) !important; }
.bg-light-green{ background-color: var(--sitestrap-color-light-green) !important; }
.bg-light-blue{ background-color: var(--sitestrap-color-light-blue) !important; }
.bg-light-yellow{ background-color: var(--sitestrap-color-light-yellow) !important; }
.bg-light-grey{ background-color: var(--sitestrap-color-light-grey) !important; }

.bg-red{ background-color: var(--sitestrap-color-red) !important; }
.bg-green{ background-color: var(--sitestrap-color-green) !important; }
.bg-blue{ background-color: var(--sitestrap-color-blue) !important; }
.bg-yellow{ background-color: var(--sitestrap-color-yellow) !important; }
.bg-grey{ background-color: var(--sitestrap-color-grey) !important; }

.bg-dark-red{ background-color: var(--sitestrap-color-dark-red) !important; }
.bg-dark-green{ background-color: var(--sitestrap-color-dark-green) !important; }
.bg-dark-blue{ background-color: var(--sitestrap-color-dark-blue) !important; }
.bg-dark-yellow{ background-color: var(--sitestrap-color-dark-yellow) !important; }
.bg-dark-grey{ background-color: var(--sitestrap-color-dark-grey) !important; }


.bg-pink{ background-color: var(--sitestrap-color-pink) !important;}
.bg-orange{ background-color: var(--sitestrap-color-orange) !important;}

.bg_color1{
    background-color: var(--sitestrap-color-1);
}
.bg_color2{
    background-color: var(--sitestrap-color-2);
}
.bg_color3{
    background-color: var(--sitestrap-color-3);
}
.bg_color4{
    background-color: var(--sitestrap-color-4);
}
.bg_color5{
    background-color: var(--sitestrap-color-5);
}