/*
 * Badge
 */

.badge{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:3px;
    display:inline-block;
    margin:2px;

}
.post-badge
{
    position:relative;
}

.post-badge[data-content]:after{
    position:absolute;
    right:-10px;
    top:-10px;
    content: attr(data-content);
    font-size:10px;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width:2em;
    font-weight:bold;
}


.badge-white{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #FFFFFF;
    border-radius:3px;
    display:inline;
    color: var(--sitestrap-color-dark-grey);
    margin:2px;

}


.badge-grey{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: var( --sitestrap-color-grey);
    border-radius:3px;
    margin:2px;
    display:inline;


}

.badge-red{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: var( --sitestrap-color-red);
    border-radius:3px;
    margin:2px;
    display:inline;


}

.badge-green{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    margin:2px;
    background-color: var( --sitestrap-color-green);
    border-radius:3px;
    display:inline;
    color: #FFFFFF;
    white-space: nowrap;


}

.badge-blue{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: var( --sitestrap-color-blue);
    border-radius:3px;
    display:inline;
    margin:2px;
    color: #FFFFFF;

}

.badge-yellow{
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    background-color: var( --sitestrap-color-yellow);
    border-radius:3px;
    display:inline;
    margin:2px;
    color: var(--sitestrap-color-dark-grey);
}