/*
 *
 *
 *
 *
 */

.noborder{
    border-width:0; !important
    border-style:none !important;

}

/* General Border On/Off */

.border-none{
    border-width:0;
    border-style:none;
}

.border-all{
    border-style:solid;
    border-width:1px;
}
.border-all-2{
    border-style:solid;
    border-width:2px;
}

.border-all-3{
    border-style:solid;
    border-width:3px;
}

/* Border Builtin Colors*/

.bdr-white
{
    border-color: #FFFFFF;  !important;
}

    /* Red */
.bdr-lt-red
{
    border-color: var(--sitestrap-color-light-red);  !important;
}
.bdr-red
{
    border-color: var(--sitestrap-color-red);  !important;
}

.bdr-dark-red
{
    border-color: var(--sitestrap-color-dark-red);  !important;
}
    /* Green */
.bdr-lt-green
{
    border-color: var(--sitestrap-color-light-green);
}
.bdr-green
{
    border-color: var(--sitestrap-color-green);
}

.bdr-dark-green
{
    border-color: var(--sitestrap-color-dark-green);
}

    /* Blue */
.bdr-lt-blue
{
    border-color: var(--sitestrap-color-light-blue);
}
.bdr-blue
{
    border-color: var(--sitestrap-color-blue);
}

.bdr-dark-blue
{
    border-color: var(--sitestrap-color-dark-blue);
}

/* Yellow */
.bdr-lt-yellow
{
    border-color: var(--sitestrap-color-light-yellow);
}
.bdr-yellow
{
    border-color: var(--sitestrap-color-yellow);
}

.bdr-dark-yellow
{
    border-color: var(--sitestrap-color-dark-yellow);  !important;
}


    /* Grey */
.bdr-lt-grey
{
    border-color: var(--sitestrap-color-light-grey);  !important;
}
.bdr-grey
{
    border-color: var(--sitestrap-color-grey);  !important;
}

.bdr-dark-grey
{
    border-color: var(--sitestrap-color-dark-grey);  !important;
}




/***************************
 * Border Individual Sides *
 ***************************/

/*----- Border Left ----- */
.bdr-left{
     border-left-style:solid;
     border-left-width:1px;
 }

.bdr-left-2{
    border-left-style:solid;
    border-left-width:2px;
}

.bdr-left-3{
    border-left-style:solid;
    border-left-width:3px;
}

/*----- Border Top ----- */
.bdr-top{
    border-top-style:solid;
    border-top-width:1px;
}

.bdr-top-2{
    border-top-style:solid;
    border-top-width:2px;
}

.bdr-top-3{
    border-top-style:solid !important;
    border-top-width:3px;  !important;
}

/*----- Border Right ----- */
.bdr-right{
    border-right-style:solid;
    border-right-width:1px;
}

.bdr-right-2{
    border-right-style:solid;
    border-right-width:2px;
}

.bdr-right-3{
    border-right-style:solid;
    border-right-width:3px;
}

/*----- Border Bottom ----- */
.bdr-bottom{
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.bdr-bottom-2{
    border-bottom-style:solid;
    border-bottom-width:2px;
}

.bdr-bottom-3{
    border-bottom-style:solid;
    border-bottom-width:3px;
}




/*
 * Border
 */

.RoundedSmall{
    border-radius:3px;
}

.RoundedMedium{
    border-radius:6px;
}

.RoundedLarge{
    border-radius:10px;

}

.BorderBottom{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: var(--sitestrap-default-border-color);
}
.BorderTop{
    border-top-style:solid;
    border-top-width:1px;
    border-top-color: var(--sitestrap-default-border-color);
}

.radius-none{
    border-radius:0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
/* 
 * border radius small
 */
.radius-small{
    border-radius:3px;
}

.radius-tl-small{
    border-top-left-radius:3px;
}
.radius-tr-small{
    border-top-right-radius:3px;
}
.radius-small{
    border-radius:3px;
}
.radius-bl-small{
    border-bottom-left-radius:3px;
}
.radius-br-small{
    border-bottom-right-radius:3px;
}

/* 
 * border radius medium
 */
.radius-medium{
    border-radius:6px;
}

.radius-tl-medium{
    border-top-left-radius:6px;
}
.radius-tr-medium{
    border-top-right-radius:6px;
}
.radius-medium{
    border-radius:6px;
}
.radius-bl-medium{
    border-bottom-left-radius:6px;
}
.radius-br-medium{
    border-bottom-right-radius:6px;
}


/*
 * border radius medium
 */
.radius-large{
    border-radius:10px;
}
.radius-tl-large{
    border-top-left-radius:10px;
}
.radius-tr-large{
    border-top-right-radius:10px;
}
.radius-large{
    border-radius:10px;
}
.radius-bl-large{
    border-bottom-left-radius:10px;
}
.radius-br-large{
    border-bottom-right-radius:10px;
}


/*
 * Caps
 */

.cap-left{
    /*#description: Adds a border on the top, left, and bottom of the element. Typically used to "connect" an element to the element to its right*/
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-style:solid;
    border-top-style:solid;
    border-bottom-style:solid;
}

.cap-left-r{
    /*#description: Adds a border on the top, left, and bottom of the element. Typically used to "connect" an element to the element to its right*/
    border-left-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-style:solid;
    border-top-style:solid;
    border-bottom-style:solid;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.cap-right{
    /*#description: Adds a border on the top, right, and bottom of the element. Typically used to "connect" an element to the element to its left*/
    border-top-width:1px;
    border-bottom-width:1px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-right-width:1px;
    border-right-style:solid;
}