
.btn{

    border-radius:5px;
    margin:2px;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-style:solid;
    border-bottom-width:0;
    cursor:pointer;
    outline:none;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
}

.btn-small{
    padding:0;
    font-size:10px;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    margin:2px;


}

.btn-sq{
    border-radius:0;
    margin:2px;
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    border-style:solid;
    border-bottom-width:3px;
    cursor:pointer;
    outline:none;
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
}



{

}

.btn-group{
    padding:5px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn-group > button:not(:first-of-type)
{
    border-left-width:0;
    border-left-style:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left:0;
}
.btn-group > button:first-of-type
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right:0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width:1px;
    border-right-style:solid;
}

.btn-group > button:last-of-type
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right:0;
}

.btn-group > button:not(:first-of-type):not(:last-of-type)
{
    border-left-width:0;
    border-left-style:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left:0;
    margin-right:0;
    border-right-width:1px;
    border-right-style:solid;
}




/*
 * Vertical Button Group
 */


.btn-group-vert{
    padding:5px;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.btn-group-vert > button:first-of-type
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-left-style:solid;
    border-right-style:solid;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-width:1px;
    border-right-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    margin-bottom:0;

}

.btn-group-vert > button:last-of-type
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border-left-style:solid;
    border-right-style:solid;
    border-top-style:none;
    border-bottom-style:solid;
    border-left-width:1px;
    border-right-width:1px;
    border-top-width:0;
    border-bottom-width:1px;
    margin-top:0;

}

.btn-group-vert > button:not(:first-of-type):not(:last-of-type)
 {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
     border-bottom-left-radius:0;
     border-bottom-right-radius:0;
     border-left-style:solid;
     border-right-style:solid;
     border-top-style:none;
     border-bottom-style:solid;
     border-left-width:1px;
     border-right-width:1px;
     border-top-width:0;
     border-bottom-width:1px;
     margin-top:0;
     margin-bottom:0;
 }













.btn-red{
    background-color: var(--sitestrap-color-red) !important;
    border-color: var(--sitestrap-color-dark-red) !important;
    color:white;
}

.btn-red:hover{
    background-color: var(--sitestrap-color-dark-red)  !important;

}

.btn-green{
    background-color: var(--sitestrap-color-green) !important;
    border-color: var(--sitestrap-color-dark-green) !important;
    color:white;
}

.btn-green:hover{
    background-color: var(--sitestrap-color-dark-green) !important;
}

.btn-blue{
    background-color: var(--sitestrap-color-blue) !important;
    border-color: var(--sitestrap-color-dark-blue) !important;
    color:white;
}

.btn-blue:hover{
    background-color: var(--sitestrap-color-dark-blue) !important;

}

.btn-yellow{
    background-color: var(--sitestrap-color-yellow) !important;
    border-color: var(--sitestrap-color-dark-yellow) !important;
    color:black;
}

.btn-yellow:hover{
    background-color: var(--sitestrap-color-dark-yellow) !important;
}

.btn-grey{
    background-color: var(--sitestrap-color-grey) !important;
    border-color: var(--sitestrap-color-dark-grey) !important;
    color:white;
}

.btn-grey:hover{
    background-color: var(--sitestrap-color-dark-grey) !important;
}

.btn-pink{
    background-color: var(--sitestrap-color-pink) !important;
    border-color: var(--sitestrap-color-dark-pink) !important;
    color:white;
}

.btn-pink:hover{
    background-color: var(--sitestrap-color-dark-pink) !important;
}




.btn-light-red{
    background-color: var(--sitestrap-color-light-red) !important;
    border-color: var(--sitestrap-color-red) !important;
    color: var(--sitestrap-color-red);
}

.btn-light-red:hover{
    background-color: var(--sitestrap-color-red) !important;
    color: var(--sitestrap-white);
}

.btn-light-green{
    background-color: var(--sitestrap-color-light-green) !important;
    border-color: var(--sitestrap-color-green) !important;
    color: var(--sitestrap-color-green);
}

.btn-light-green:hover{
    background-color: var(--sitestrap-color-green) !important;
    color: var(--sitestrap-white);
}

.btn-light-blue{
    background-color: var(--sitestrap-color-light-blue) !important;
    border-color: var(--sitestrap-color-blue) !important;
    color: var(--sitestrap-color-blue);
}

.btn-light-blue:hover{
    background-color: var(--sitestrap-color-blue) !important;
    color: var(--sitestrap-white);

}

.btn-light-yellow{
    background-color: var(--sitestrap-color-light-yellow) !important;
    border-color: var(--sitestrap-color-yellow) !important;
    color: var(--sitestrap-color-yellow);
}

.btn-light-yellow:hover{
    background-color: var(--sitestrap-color-yellow) !important;
    color: var(--sitestrap-white);
}

.btn-light-grey{
    background-color: var(--sitestrap-color-light-grey) !important;
    border-color: var(--sitestrap-color-grey) !important;
    color: var(--sitestrap-color-grey);
}

.btn-light-grey:hover{
    background-color: var(--sitestrap-color-grey) !important;
    color: var(--sitestrap-white);
}

.btn-light-pink{
    background-color: var(--sitestrap-color-light-pink) !important;
    border-color: var(--sitestrap-color-pink) !important;
    color: var(--sitestrap-color-pink);
}

.btn-light-pink:hover{
    background-color: var(--sitestrap-color-pink) !important;
    color: var(--sitestrap-white);
}