.card-header {
    padding:10px;
    margin:0;
}

.card-title{
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    color: var(--sitestrap-color-2);

}

.card-desc{
    display:inline-block;
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;

    min-width:0;

}

.card-item, .card-panel{
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;

}







.card{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    margin:10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:white;


}

.card-h{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.card-h > div{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.card-vert{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.card-vert > div{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.card-small{
    flex-basis: 150px;

}

.card-med{
    flex-basis: 250px;
}




.card-mini-horizontal{
    border:1px;
    border-style:solid;
    border-color: var(--sitestrap-default-border-color);
    background-color:white;

    margin:10px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    overflow:hidden;
    font-size:12px;

    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    flex-basis: 300px;
}
