

/*
 * Theme Serious
 */
.theme-serious, .theme-serious button{

    background-color: var(--sitestrap-color-grey);
    border-color: var(--sitestrap-color-dark-grey);
    color:var(--sitestrap-color-red);
}

.theme-serious button, button.theme-serious
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-serious button:hover, button.theme-serious:hover{
    background-color: var(--sitestrap-color-dark-grey);
}

.theme-serious.btn-group, .theme-serious.btn-group-vert{
    background-color: var(--sitestrap-color-light-grey);
}




/*
 * Theme Error
 */
.theme-error , .theme-error button{

    background-color: var(--sitestrap-color-red);
    border-color: var(--sitestrap-color-dark-red);
    color:#ffffff;
}

.theme-error button, button.theme-error
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-error button:hover, button.theme-error:hover{
    background-color: var(--sitestrap-color-dark-red);
}

.theme-error.btn-group, .theme-error.btn-group-vert{
    background-color: var(--sitestrap-color-light-red);
}


/*
 * Theme Warning
 */

.theme-warning, .theme-warning button{

    background-color: var(--sitestrap-color-yellow);
    border-color: var(--sitestrap-color-dark-yellow);
    color:var(--sitestrap-color-grey);
}

.theme-warning button, button.theme-warning
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-warning button:hover, button.theme-warning:hover{
    background-color: var(--sitestrap-color-dark-yellow);
}

.theme-warning.btn-group, .theme-warning.btn-group-vert{
    background-color: var(--sitestrap-color-light-yellow);
}
/*
 * Theme Success
 */
.theme-success, .theme-success button{

    background-color: var(--sitestrap-color-green);
    border-color: var(--sitestrap-color-dark-green);
    color:#ffffff;
}

.theme-success button, button.theme-success
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-success button:hover, button.theme-success:hover{
    background-color: var(--sitestrap-color-dark-green);
}

.theme-success.btn-group, .theme-success.btn-group-vert{
    background-color: var(--sitestrap-color-light-green);
}

/*
* Theme Reminder
*/
.theme-reminder, .theme-reminder button, .theme-reminder input[type=submit]{
    background-color: var(--sitestrap-color-blue);
    border-color: var(--sitestrap-color-dark-blue);
    color:#ffffff;
}

.theme-reminder button, button.theme-reminder
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-reminder button:hover, button.theme-reminder:hover, .theme-reminder input[type=submit]:hover{
    background-color: var(--sitestrap-color-dark-blue);
}

.theme-reminder.btn-group, .theme-reminder.btn-group-vert{
    background-color: var(--sitestrap-color-light-blue);
}

/*
 * theme pretty cards
 */
.card.theme-reminder{
    background-color: var(--sitestrap-color-dark-blue);
}

.card.theme-reminder label{
    background-color: var( --sitestrap-color-blue);
    border-color:var(--sitestrap-color-light-blue);
    color:#FFFFFF;
}

.card.theme-reminder input{
    border:solid;
    border-width:1px;
    border-color:var(--sitestrap-color-light-blue);
}
.card.theme-reminder > .card-item{
    color: #000000;
    background-color: var(--sitestrap-white);
}

.card.theme-reminder > .card-desc, .card.theme-reminder > .card-panel
{
    background-color: var(--sitestrap-color-light-blue);
    color:#000000;
}







/*
 * Theme gloomy
 */
.theme-gloomy, .theme-gloomy button{
    background-color: var(--sitestrap-color-grey);
    border-color: var(--sitestrap-color-dark-grey);
    color:#ffffff;
}

.theme-gloomy button, button.theme-gloomy
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-gloomy button:hover, button.theme-gloomy:hover{
    background-color: var(--sitestrap-color-dark-grey);
}

.theme-gloomy.btn-group, .theme-gloomy.btn-group-vert{
    background-color: var(--sitestrap-white);
}
/*
 * Theme pretty
 */
.theme-pretty, .theme-pretty button, .theme-pretty input[type=submit]{
    background-color: var(--sitestrap-color-pink);
    border-color: var(--sitestrap-color-dark-pink);
    color:#ffffff;
}

.theme-pretty button, button.theme-pretty
{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
}

.theme-pretty button:hover, button.theme-pretty:hover{
    background-color: var(--sitestrap-color-dark-pink);
}

.theme-pretty.btn-group, .theme-pretty.btn-group-vert{
    background-color: var(--sitestrap-color-light-pink);
}

/*
 * theme pretty cards
 */
.card.theme-pretty{
    background-color: var(--sitestrap-color-dark-pink);
}

.card.theme-pretty label{
    background-color: var( --sitestrap-color-pink);

}
.card.theme-pretty > .card-item, .card.theme-pretty > .card-desc{
    color: var(--sitestrap-color-dark-pink);
    background-color: var(--sitestrap-color-light-pink);
}