.content-full{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    min-height:400px;

    align-self: stretch;
    flex-grow:1;
    background-repeat: no-repeat;
    background-position: center center;
}

.content{
    border:1px;
    border-style:solid;
    border-color: var(--sitestrap-default-border-color);
    margin:10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    align-self: flex-start;
}

.content-horiz{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}


.content-vert{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content-body
{
    padding:10px;

}