.bump-up{
    position:relative;
    top:0px;
    transition:top .4s;
}

.bump-up:hover{
    position:relative;
    top:-30px;
    transition:top .4s;
}

.hover-display-next{

}

.hover-display-next + div{
    display:none;
    width:80%;
    transition: opacity 100s;
    max-height:0px;
}

.hover-display-next:hover + div{
    display:block;
    max-height:1000px;
    transition: max-height 100s;
}