

.fl-row {
/*#description: Generates a flexible row layout.*/
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.fl-col{
/*#description: Generates a flexible column layout*/
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.fl-irow{
    /*#description: Generates an inline flexible row layout.*/
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fl-icol{
    /*#description: Generates an inline flexible column layout*/
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.fl-stretch {
    /*#description: Generates a flexible column layout*/
    -webkit-align-items: stretch; /* Safari */
    align-items:         stretch;
}

.flex-stretch{
    /*#description: Generates an inline flexible row layout.*/
    /*#depreciated: Use fl-stretch instead.*/
    -webkit-align-items: stretch; /* Safari */
    align-items:         stretch;
}

.fl-center{
    /*#description: Justifies the content items to the center of the flex box.*/
    justify-content:         center;
}

.fl-items-end{
    /*#description: Justifies the content items to the center of the flex box.*/
    justify-content:         flex-end;
}

.fl-wrap{
    /*#description: Sets the flexbox to wrap its contents.*/
    flex-wrap: wrap;
}

.fl-nogrow{ flex-grow:0; }
.fl-g-0{ flex-grow:0; }
.fl-g-1{ flex-grow:1; }
.fl-g-2{ flex-grow:2; }
.fl-g-3{ flex-grow:3; }
.fl-g-4{ flex-grow:4; }
.fl-g-5{ flex-grow:5; }
.fl-g-6{ flex-grow:6; }





.fl-noshrink{ flex-shrink: 0; }
.fl-s-0 { flex-shrink: 0; }
.fl-s-1{ flex-shrink: 1; }
.fl-s-2{ flex-shrink: 2; }
.fl-s-3{ flex-shrink: 3; }
.fl-s-4{ flex-shrink: 4; }
.fl-s-5{ flex-shrink: 5; }
.fl-s-6{ flex-shrink: 6; }


.fl-alignself-start{
    /*#description: Sets this item to align to the start of the flex.*/
    align-self: flex-start;
}
.fl-alignself-end{
    /*#description: Sets this item to align to the end of the flex.*/
    align-self: flex-end;
}
.fl-alignself-center{
    /*#description: Sets this item to align to the center of the flex.*/
    align-self: center;
}

.fl-alignitems-center{
    align-items: center;
    -webkit-align-items: center;
}

.fl-alignitems-end{
    align-items: flex-end;
    -webkit-align-items: flex-end;
}
