.margin-none{

    margin-left:0; !important
    margin-right:0;!important
    margin-top:0;!important
    margin-bottom:0;!important
}

.margin-small{
margin-left:5px;
margin-right:5px;
margin-top:5px;
margin-bottom:5px;
}

.margin-medium{

margin-left:10px;
margin-right:10px;
margin-top:10px;
margin-bottom:10px;
}

.margin-large{
margin-left:20px;
margin-right:20px;
margin-top:20px;
margin-bottom:20px;
}

.margin-huge{
margin-left:30px;
margin-right:30px;
margin-top:30px;
margin-bottom:30px;
}

.margin-top-small{
    margin-top:5px;
}

.margin-top-medium{
    margin-top:10px;
}

.margin-top-large{
    margin-top:20px;
}
.margin-top-huge{
    margin-top:30px;
}



.margin-bottom-small{
    margin-bottom:5px;
}

.margin-bottom-medium{
    margin-bottom:10px;
}

.margin-bottom-large{
    margin-bottom:20px;
}
.margin-bottom-huge{
    margin-bottom:30px;
}