



/*------------------------------------*\
	NAV
\*------------------------------------*/
.nav{
    list-style:none;
    font-weight:bold;
    float:left;
    width:100%;

    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
.nav li{
    float:left;
    position:relative;

}
.nav a{
    display:block;
    padding:10px;
    color:#fff;
    text-decoration:none;
    transition:background .3s;
    transition:color .6s;

}
.nav a:hover{
    color: var(--sitestrap-color-yellow);
    padding:10px;
    background: var(--sitestrap-color-grey);
    transition:background .3s;
    transition:color .6s;
}

/*--- DROPDOWN ---*/
.nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Makepadding:10px;
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    opacity:0;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.nav ul li{

    float:none;
}
.nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul{ /* Display the dropdown on hover */
    opacity:1;
    left:0; /* Bring back on-screen when needed */
    transition:opacity .5s;
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: var(--sitestrap-color-grey);

    transition:background .3s;
    transition:color .6s;
}
.nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
    min-width: 120px;
    background: var(--sitestrap-color-2);

    transition:background .3s;

    transition:color .6s;
}
.nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333;

}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
h1{
    font-family:Calibri, Arial, Verdana, sans-serif;
    font-size:2em;
    width:520px;
}