@import "variables.css";

@import "alerts.css";
@import "background.css";
@import "badges.css";
@import "borders.css";
@import "buttons.css";
@import "cards.css";
@import "color-themes.css";
@import "content.css";
@import "effects.css";
@import "flexboxs.css";
@import "margins.css";
@import "navigation.css";
@import "paddings.css";
@import "sizes.css";
@import "text.css";
@import "toc.css";




ul, li{
    margin:0;
    padding:0;
    border:0;
    border-style:none;

}


html {
    padding:0;
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width:100%;
    height:100%;
}
body{
    background-color: var(--sitestrap-page-color);
    color: var(--sitestrap-text-color);
    padding:0;
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width:100%;
    height:100%;
}
h1, h2, h3,h4,h5,h6{
    margin-top:0;
    margin-bottom:0;
}

.code{
    padding:10px;
    margin:10px;
    margin-left:30px;
    margin-right:30px;

    border-style:solid;
    border-width:1px;
    font-family:"Courier New", Courier, monospace;

}

.code > pre {
    padding:0;
    margin:0;
}

.code > pre > code{
    padding:0;
    margin:0;
    line-height:24px;
}



.clickcontent{
    position:relative;
    display:none;
}



.ss-logo{
    display:inline;
}
.ss-site-name{
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin:0px;
    margin-left:10px;
    margin-right:20px;
    color: var( --sitestrap-sitename-color);
    display:inline-block;
    font-weight: bold;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: color .5s , background-color .5s .3s;
    align-self: center;
    text-align: center;
}

.ss-site-name:hover {

    background-color: var( --sitestrap-color-grey);

    transition:  background-color .5s;
}



.ss-site-header{
    width:100%;
    background-color: var(--sitestrap-color-2);
    padding-left:10px;
    padding-right:10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.ss-site-header-container{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ss-main-menu-item{
    padding:10px;
    display:inline;
    vertical-align: middle;
}

.ss-main-menu-item > a{
    text-decoration: none;
    color:var(--sitestrap-page-color);
}
.ss-main-menu-item > a:hover{
    font-weight:bold;
}


.ss-main-content-container{
    vertical-align: top;
    min-height:1000px;

}

/*
 * Dashboard styles
 */
.dashboard-control-container{
    padding-top:40px;
    background-color:var(--sitestrap-color-4);

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:14px;
    flex-basis:200px;

    flex-shrink:0;
}

.dashboard-button{
    width:100%;
    padding:8px;
    color: var(--sitestrap-page-color);
}

.dashboard-button:hover {
    background-color: var(--sitestrap-color-5);
    color: var(--sitestrap-color-2);
}

.dashboard-button:hover > a {
    background-color: var(--sitestrap-color-5);
    color: var(--sitestrap-color-2);

}

.dashboard-button > a{
    padding-left:5px;
    text-decoration: none;
    color: var(--sitestrap-page-color);
    display:inline-block;
    width:100%;
    flex-grow:1;
    -webkit-align-self: auto;
    align-self: auto;
}







.dashboard-content-container{
    display: flex;
    display: -webkit-flex;
    flex-direction:column;
    -webkit-flex-direction: column;
    justify-items: center;

flex-grow:5;
}





.site-width{

    flex-basis: var(--sitestrap-site-width);
}






.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.center-horizontal{
    margin-left:auto;
    margin-right:auto;
}

.center-text{
    text-align:center;
}


.inline-display {
    display:inline-block;
}
/*
 * General CSS utility classes
 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.circle{
    border-radius:50%;
}



/*
 * Images
 */

a{
    text-decoration:none;
}

img{
    padding:0px;
    margin:0px;
    display:block;
}

input, textarea, select, button {
    font: 400 13.3333px Arial;

}

input, label{
    padding:10px;
    font-size:16px;
}

label {
    white-space: nowrap;
}

button, input[type=submit]{
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
    border-style:none;
    border-width:0;
    outline:none;
    box-shadow:none;
}

input[type=submit]{
    border-width:0 !important;
    border-style:none !important;
    box-shadow: none !important;
}

button:not([class]) , button[class=""]{
    border-style:solid;
    border-width:1px;
    border-color: inherit;
}

/*
 * Components
 */









.bumped-circle
{
    border-radius: 50%;
    position:relative;
    top: -64px;
    margin-bottom:-64px;
}