.size32x32{
    width:32px !important;
    height:32px !important;
    flex-grow:0 !important;
    flex-shrink: 0 !important;
}

.size64x64{
    width:64px !important;
    height:64px !important;
    flex-grow:0 !important;
    flex-shrink: 0 !important;
}


.size100x100{
    width:100px !important;
    height:100px !important;
    flex-grow:0 !important;
    flex-shrink: 0 !important;
}

.size128x128{
    width:128px !important;
    height:128px !important;
    flex-grow:0 !important;
    flex-shrink: 0 !important;
}

.size256x256{
    width:256px !important;
    height:256px !important;
    flex-grow:0 !important;
    flex-shrink: 0 !important;
}




.minsize32x32{
    min-width:32px !important;
    min-height:32px !important;
    flex-basis: 32px !important;
    flex-shrink: 0 !important;
}

.minsize64x64{
    min-width:64px !important;
    min-height:64px !important;
    flex-basis: 64px !important;
    flex-shrink: 0 !important;
}


.minsize100x100{
    min-width:100px !important;
    min-height:100px !important;
    flex-basis: 100px !important;
    flex-shrink: 0 !important;
}

.minsize128x128{
    min-width:128px !important;
    min-height:128px !important;
    flex-basis: 128px !important;
    flex-shrink: 0 !important;
}

.minsize256x256{
    min-width:256px !important;
    min-height:256px !important;
    flex-basis: 256px !important;
    flex-shrink: 0 !important;
}

.minsize512x512{
    min-width:512px !important;
    min-height:512px !important;
    flex-basis: 512px !important;
    flex-shrink:0 !important;
}

.maxwidth-site
{
max-width: var(--sitestrap-site-width);
}

.width-site
{
    width: var(--sitestrap-site-width);
}

.width-full{
    width:100%;
}

.width-100{
    width:100px;
}
.width-200{
    width:200px;
}
.width-300{
    width:300px;
}
.width-500{
    width:500px;
}
.width-600{
    width:600px;
}
.width-700{
    width:700px;
}
.width-800{
    width:800px;
}
.width-900{
    width:900px;
}
.width-1000{
    width:1000px;
}



.fl-basis-50{
    flex-basis: 50px;
    -webkit-flex-basis: 50px;
}

.fl-basis-100{
    flex-basis: 100px;
    -webkit-flex-basis: 100px;
}

.fl-basis-150{
    flex-basis: 150px;
    -webkit-flex-basis: 150px;
}

.fl-basis-200{
    flex-basis: 200px;
    -webkit-flex-basis: 200px;
}

.fl-basis-250{
    flex-basis: 250px;
    -webkit-flex-basis: 250px;
}

.fl-basis-300{
    flex-basis: 300px;
    -webkit-flex-basis: 300px;
}

.fl-basis-500{
    flex-basis: 500px;
    -webkit-flex-basis: 500px;
}


.minwidth-150{
    min-width:150px;
}

.minwidth-200{
    min-width:200px;
}

.minwidth-350{
    min-width:350px;
}

.minwidth-400{
    min-width:400px;
}

.minwidth-500{
    min-width:500px;
}