
/*
 * Text
 */
.txt-white{ color:#ffffff; }

.txt-light-red{ color: var(--sitestrap-color-light-red); }
.txt-light-green{ color: var(--sitestrap-color-light-green); }
.txt-light-blue{ color: var(--sitestrap-color-light-blue); }
.txt-light-yellow{ color: var(--sitestrap-color-light-yellow); }
.txt-light-grey{ color: var(--sitestrap-color-light-grey); }

.txt-red{ color: var(--sitestrap-color-red); }
.txt-green{ color: var(--sitestrap-color-green); }
.txt-blue{ color: var(--sitestrap-color-blue); }
.txt-yellow{ color: var(--sitestrap-color-yellow); }
.txt-grey{ color: var(--sitestrap-color-grey); }

.TextColor1{ color: var(--sitestrap-color-2); }
.TextColor2{ color: var(--sitestrap-color-2); }
.TextColor3{ color: var(--sitestrap-color-3); }
.TextColor4{ color: var(--sitestrap-color-4); }
.TextColor4{ color: var(--sitestrap-color-5); }


.txt-small{
    font-size:12px;
}

.txt-medium{
    font-size:16px;
}

.txt-large{
    font-size:22px;
}

.txt-huge{
    font-size:28px;
}

.txt-nowrap{
    white-space: nowrap;

}