.toc {
     /*#description: Generates a flexible column layout*/
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: flex-start;
    padding:10px;
    font-size:12px;
}



.toc ul, .toc li{
    list-style: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: flex-start;

    width:100%;

}

.toc a
{
   /* border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-left-style:solid;
    border-right-style:solid;
    border-top-style:none;
    border-bottom-style:solid;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1px;*/

    border-style:solid;
    border-width:1px;
    border-color:#333333;

    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: flex-start;
    justify-items: center;
    color:#ffffff;
    width:100%;
    padding:6px;
    margin-top:1px;
}

.toc .icon
{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: center;
    justify-items: center;
    padding:4px;
    margin-right:4px;
}

.toc-item
{
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    align-items: flex-start;
    justify-items: center;
    vertical-align: center;
    padding-top:2px;
    margin:0;

}

.toc > ul > li > ul > li > a{
    padding-left:30px;
}

.toc > ul > li > ul > li > ul > li > a{
    padding-left:60px;
}

.toc > ul {
    counter-reset: li-count;
}

.toc > ul > li {
    counter-increment: li-count;
}

.toc > ul > li > a > .toc-item:before {
    content: counter( li-count) '. ';
    font-weight: bold;
    display:block;

}

.toc  a:hover
{
    background-color: var( --sitestrap-color-blue);
}

#collapse .accordion input ~ .collapse {
    max-height: 0;
    height: auto;
    transition: max-height 0.2s ease 0s;
}
#collapse .accordion input:checked ~ .collapse {
    max-height: 500px;
    transition-duration: 0.7s;
}