
:root{

    --sitestrap-site-width:1100px;


    --sitestrap-page-color:#EFEFEF;
    --sitestrap-text-color: #707070;
    --sitestrap-sitename-color:#FFFFFF;


    --sitestrap-color-1:#FFFFFF;
    --sitestrap-color-2:#008CFF;
    --sitestrap-color-3:#d3d3d3;
    --sitestrap-color-4:#1c1c1c;
    --sitestrap-color-5:#2b2b2b;

    --sitestrap-color-1-light:#FFFFFF;
    --sitestrap-color-2-light:#008CFF;
    --sitestrap-color-3-light:#d3d3d3;
    --sitestrap-color-4-light:#1c1c1c;
    --sitestrap-color-5-light:#2b2b2b;

    --sitestrap-color-1-dark:#FFFFFF;
    --sitestrap-color-2-dark:#008CFF;
    --sitestrap-color-3-dark:#d3d3d3;
    --sitestrap-color-4-dark:#1c1c1c;
    --sitestrap-color-5-dark:#2b2b2b;


    --sitestrap-default-border-color:#DEDEDE;

    --sitestrap-color-light-red: #ffdcdc;
    --sitestrap-color-light-green: #c8ffc8;
    --sitestrap-color-light-blue: #c8e6ff;
    --sitestrap-color-light-yellow: #fff5c6;
    --sitestrap-color-light-grey: #ebebeb;
    --sitestrap-color-light-pink: #fdbdff;

    --sitestrap-color-medium-blue: #669fff;

    --sitestrap-color-red:#dc3545 ;
    --sitestrap-color-green:#28a745;
    --sitestrap-color-blue:#007bff;
    --sitestrap-color-yellow:#ffc107;
    --sitestrap-color-grey: #222629;
    --sitestrap-color-pink: #dd40d1;
    --sitestrap-color-orange: #ff9700;

    --sitestrap-color-dark-red: #b62c39;
    --sitestrap-color-dark-green: #258d47;
    --sitestrap-color-dark-blue: #005abb;
    --sitestrap-color-dark-yellow: #c5b41d;
    --sitestrap-color-dark-grey: #181a1b;
    --sitestrap-color-dark-pink: #b835ae;
    --sitestrap-white:#FFFFFF;
    --sitestrap-black:#000000;

}